html, body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: Helvetica, sans-serif;
  font-size: 3em;
  text-align: center;
  width: 400px;
}
